a
{
	cursor:pointer;
}
.tab-pane {
    padding-top: 10px;
}

.borderless td, .borderless th {
    border: none;
}

.show-more{
	white-space: pre-line;
}

.action-buttons > * {
	display: inline-block;
}
.inline-input{
	width: auto !important;
	display: inline-block;
}