[submodule "attachments"]
	path = attachments
	url = git@github.com:amschaal/django-attachments.git
[submodule "extensible"]
	path = extensible
	url = git@github.com:amschaal/django-extensible.git
[submodule "django_compute"]
	path = django_compute
	url = git@github.com:amschaal/django_compute.git
[submodule "notifications"]
	path = notifications
	url = git@github.com:amschaal/django-simple-notifications.git
