[submodule "attachments"]
	path = attachments
	url = git@bitbucket.org:amschaal/attachments.git
[submodule "proteomics"]
	path = proteomics
	url = git@bitbucket.org:amschaal/proteomics_lims.git
[submodule "django_json_forms"]
	path = django_json_forms
	url = git@bitbucket.org:amschaal/django_json_forms.git
[submodule "glims/static/vendor/angular-remote-table"]
	path = glims/static/vendor/angular-remote-table
	url = git@github.com:amschaal/angular-remote-table.git
[submodule "extensible"]
	path = extensible
	url = git@bitbucket.org:amschaal/django-extensible.git
[submodule "angular_forms"]
	path = angular_forms
	url = git@bitbucket.org:amschaal/django-angular-forms.git
[submodule "django_compute"]
	path = django_compute
	url = git@github.com:amschaal/django_compute.git
