{% extends "glims/dashboard.html" %}
{% block page %}Fasta Files {% endblock %}
{% block breadcrumbs %} Fasta Files {% endblock %}
{% block content %}

<script src="/static/proteomics/js/resources/models.js"></script>
<script src="/static/proteomics/js/pages/fasta_files.js"></script>

<div class="row">
	<div class="col-lg-12">
      	<div class="widget">
          <div class="widget-header">
            Fasta Files
            <a href="{% url 'proteomics__create_fasta_file' %}" class="pull-right btn btn-sm btn-success">Upload</a> <a href="{% url 'proteomics__uniprot'%}">Import from Uniprot</a>
          </div>
          <div class="widget-body" ng-controller="FastaFileController">
				<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}"><a href="{[ fastaLink(row) ]}">{[ row.name ]}</a></td>
			        <td data-title="'Last Modified'" sortable="'modified'">{[row.modified]}</td>
			        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			        <td data-title="'Count'" sortable="'count'">{[row.count]}</td>
			        <td><a class="btn btn-sm btn-warning" href="{[fastaUpdateLink(row)]}">Modify</a> <button ng-click="deleteFile(row)" class="btn btn-sm btn-danger">Delete</button></td>
			      </tr>
		    	</table>
            </div>
        </div>
	</div>
</div>
{% endblock %}