{% extends "base.html" %}
{% block page %}SearchGUI Parameter Files {% endblock %}
{% block breadcrumbs %}SearchGUI Parameter Files {% endblock %}
{% block content %}

<script src="/static/proteomics/js/resources/models.js"></script>
<script src="/static/proteomics/js/pages/parameter_files.js"></script>

<div class="row">
	<div class="col-lg-12">
      	<div class="widget" ng-controller="ParameterFileController">
          <div class="widget-header">
            SearchGUI Parameter Files
            <a href="{% url 'proteomics__create_parameter_file' %}" class="pull-right btn btn-sm btn-success">Create</a>
          </div>
          <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}">{[ row.name ]}</td>
			        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			        <td><a class="btn btn-sm btn-warning" href="{[parameterUpdateLink(row)]}">Modify</a> <!-- <button ng-click="deleteFile(row)" class="btn btn-sm btn-danger">Delete</button> --></td>
			      </tr>
    	  </table>
          
        </div>
	</div>
</div>
{% endblock %}