{% extends "glims/dashboard.html" %}
{% block page %}Bioinformatics {% endblock %}
{% block breadcrumbs %}<a href="{% url 'bioinformatics__projects' %}">Projects</a> / {{instance.project.project_id}}{% endblock %}
{% block content %}
<script src="/static/bioinformatics/js/resources/models.js"></script>
<script src="/static/bioinformatics/js/pages/bioinfo_project.js"></script>

<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="BioinfoProjectController" ng-init="init({'id':'{{instance.id}}'})">
          <div class="widget-header">
             {{instance.project.project_id}} 
            <button class="btn btn-sm btn-success pull-right" ng-click="openFormlyModal()">Edit</button>
            <!-- <a href="{% url 'modify_bioinformatics__project' pk=instance.project.id %}" class="btn btn-sm btn-success">Edit</a> -->
            
          </div>
          <div class="widget-body">
              <table class="table" ng-if="project.created">
              	<tbody>
              		<tr><th>Created</th><td>{[project.created | date]}</td></tr>
              		<tr><th>Project</th><td><a href="{[projectLink(project.project)]}">{[ project.project.name ]}</a></td></tr>
              		<tr><th>Lab</th><td><a href="{[labLink(project.project)]}">{[ project.project.lab__name ]}</a></td></tr>
					<tr><th>Manager</th><td>{[ project.manager.first_name ]} {[ project.manager.last_name ]}</td></tr>
					<tr><th>Participants</th><td><p ng-repeat="user in project.participants">{[ user.first_name ]} {[ user.last_name ]}</p></td></tr>
                	<tr><th>Description</th><td>{[project.description]}</td></tr>
                	<tr><th>Status</th><td>{[project.project.status]}</td></tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
{% endblock %}
