{% extends "glims/dashboard.html" %}
{% block page %}Bioinformatics {% endblock %}
{% block breadcrumbs %}Projects {% endblock %}
{% block content %}
<script src="/static/bioinformatics/js/services/bioinfo_project_service.js"></script>
<script src="/static/bioinformatics/js/pages/bioinfo_projects.js"></script>

<div class="row">
	<div class="col-lg-12">
      	<div class="widget" ng-controller="BioinfoProjectsController" ng-init="init({group_id:{{group_id}}})">
          <div class="widget-header">
            Bioinformatics Projects<button ng-click="createProject()" class="btn btn-success pull-right">Create</button>
          </div>
          <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			      	<td data-title="'Created'" sortable="'created'"" ><a href="{[getURL('bioinformatics__project',{pk:row.id})]}">{[ row.created|date ]}</a></td>
			      	<td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}">{[row.type.name]}</td>
			      	<td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}"><a href="{[getURL('bioinformatics__project',{pk:row.id})]}">{[ row.name ]}</a></td>
			      	<td data-title="'Inherited Project'" filter="{project__name__icontains: 'text'}" sortable="'project__name'"" ><a href="{[getURL('project',{pk:row.project.id})]}">{[ row.project.name ]}</a></td>
			      	<td data-title="'Lab'" sortable="'lab__name'"" filter="{lab__name__icontains: 'text'}"><a ng-if="row.lab" href="{[getURL('lab',{pk:row.lab.id})]}">{[ row.lab.name ]}</a></td>
			      	<td data-title="'Manager'" sortable="'manager__first_name,manager__last_name'" filter="{manager: 'select'}" filter-data="users">{[ row.manager.first_name ]} {[ row.manager.last_name ]}</td>
			        <!-- <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description|date]}</td> -->
			        <td data-title="'Status'" filter="{status__id__icontains: 'text'}" sortable="'status__name'">{[row.status.name]}</td>
			      </tr>
    	  </table>
          
        </div>
	</div>
</div>
{% endblock %}