{% extends "glims/dashboard.html" %}
{% block page %}Bioinformatics {% endblock %}
{% block breadcrumbs %}Projects {% endblock %}
{% block content %}

<script src="/static/bioinformatics/js/resources/models.js"></script>
<script src="/static/bioinformatics/js/pages/bioinfo_projects.js"></script>

<div class="row">
	<div class="col-lg-12">
      	<div class="widget" ng-controller="BioinfoProjectsController">
          <div class="widget-header">
            Bioinformatics Projects
          </div>
          <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			      	<td data-title="'Created'" sortable="'created'"" >{[ row.created|date ]}</td>
			      	<td data-title="'Project'" sortable="'created'"" ><a href="{[projectLink(row.project)]}">{[ row.project.name ]}</a></td>
			      	<td data-title="'Lab'" sortable="'project__lab'"" filter="{project__lab__icontains: 'text'}"><a href="{[labLink(row.project)]}">{[ row.project.lab__name ]}</a></td>
			      	<td data-title="'Assigned to'" sortable="'assigned_to'"" filter="{assigned_to__username__icontains: 'text'}">{[ row.assigned_to ]}</td>
			        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description|date]}</td>
			      </tr>
    	  </table>
          
        </div>
	</div>
</div>
{% endblock %}