{% extends "base.html" %}
{% load attachment_helpers %}
{% block page %}Bioinformatics {% endblock %}
{% block breadcrumbs %}<a href="{% url 'bioinformatics__projects' %}">Projects</a> / {{instance.name}}{% endblock %}
{% block content %}
<script src="/static/bioinformatics/js/services/bioinfo_project_service.js"></script>
<script src="/static/bioinformatics/js/pages/bioinfo_project.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="BioinfoProjectController" ng-init="init({'id':'{{instance.id}}'})">
          <div class="widget-header">
             {[project.name]}
             <div class="pull-right" notification-subscription object-id="{{instance.id}}" content-type="{{instance | content_type_id}}"></div>
            <button class="btn btn-sm btn-danger pull-right" ng-click="deleteProject()">Delete</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="editProject()">Edit</button> 
            
          </div>
          <div class="widget-body" ng-cloak>
          <tabset>
			<tab heading="Details">
              <table class="table" ng-if="project.created">
              	<tbody>
              		<tr><th>Created</th><td>{[project.created | date]}</td></tr>
              		<tr><th>Inherited Project</th><td><a ng-if="project.project" href="{[getURL('project',{pk:project.project.id})]}">{[ project.project.name ]} <span ng-if="project.project.status">({[ project.project.status ]})</span></a></td></tr>
              		<tr><th>Lab</th><td><a ng-if="project.lab" href="{[getURL('lab',{pk:project.lab.id})]}">{[ project.lab.name ]}</a></td></tr>
					<tr><th>Manager</th><td>{[ project.manager.first_name ]} {[ project.manager.last_name ]}</td></tr>
					<tr><th>Participants</th><td><span ng-repeat="user in project.participants">{[ user.first_name ]} {[ user.last_name ]}{[$last ? '' : ', ']}</span></td></tr>
                	<tr><th>Description</th><td>{[project.description]}</td></tr>
                	<tr><th>Data location</th><td>{[project.data_location]}</td></tr>
                	<tr ng-repeat="field in project.type.fields"><th>{[field.label]}</th><td>{[project.data[field.name]]}</td></tr>
                	<tr><th>Status</th><td>{[project.project.status]}</td></tr>
                </tbody>
              </table>
            </tab>
           	<tab heading="Notes ({[attachments_object.notes]})">
           	{% with instance as object %}
           		{% include "attachments/partials/notes.html" %}
           	{% endwith%}
           	</tab>
           	<tab heading="Files ({[attachments_object.files]})">
           	{% with instance as object %}
           		{% include "attachments/partials/attached_files.html" %}
           	{% endwith%}
           	</tab>
       		</tabset>
          </div>
        </div>
      </div>
{% endblock %}
