{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page %}Bioinformatics {% endblock %}
{% block breadcrumbs %}<a href="{% url 'bioinformatics__projects' %}">Projects</a> / <a href="{% url 'bioinformatics__project' pk=instance.project.id %}">{{instance.project.project_id}}</a> / Modify{% endblock %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
      	<div class="widget" >
          <div class="widget-header">
            Bioinformatics Project
          </div>
          <form action="." method="POST">
          {% csrf_token %} 
          {{form|crispy}}
          <button class="btn btn-default">Save</button>
          </form>
        </div>
	</div>
</div>
{% endblock %}