{% extends "glims/dashboard.html" %}
{% block page %}Sample cart{% endblock %}
{% block breadcrumbs %}  {% endblock %}
{% block content %}
<script src="/static/js/pages/cart.js"></script>
<div class="row">
      <div class="col-lg-12" ng-controller="CartController">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-shopping-cart"></i> Sample Cart
            <a ng-click="removeSelected()" class="pull-right btn btn-sm btn-danger">Remove</a>
          </div>
          <div class="widget-body">
					<table class="table table-striped table-condensed">
						<thead><th><input type="checkbox" ng-model="check_all" ng-change="checkAll()"/> Sample</th><th>Project</th><th>Description</th><th></th></thead>
						<tr ng-repeat="row in samples">
				        <td><input type="checkbox" ng-model="selectHash[row.id]"/> <a href="{[ sampleLink(row) ]}">{[ row.name ]}</a></td>
				        <td><a href="{[ projectLink(row) ]}">{[ row.project__name ]}</a></td>
				        <td>{[ row.description ]}</td>
				        <td><a ng-click="removeSample(row)"><i class="fam-basket-delete"></i></a></td>
				      	</tr>
					</table>
				</div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}