{% extends "glims/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page %}Choose Project Type{% endblock %}
{% block breadcrumbs %}<a href="{% url 'projects' %}">Projects</a> / Create {% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
        <div class="row">
      	<div class="col-lg-10">
      	<h3>Choose project type</h3>
      	
        <form method="get" action="{% url 'create_project' %}" enctype="multipart/form-data">
          {{form|crispy}}
          <button class="btn">Next</button>
        </form>
        </div>
        </div>
      </div>
{% endblock %}