{% extends "glims/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page %}Create lab{% endblock %}
{% block breadcrumbs %}<a href="{% url 'labs' %}">Labs</a> / Create {% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
        <div class="row">
      	<div class="col-lg-10">
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{next}}"/>
          {{form|crispy}}
          <button class="btn">Create</button>
        </form>
        </div>
        </div>
      </div>
{% endblock %}