{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="mainapp">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dashboard</title>

  <link rel="stylesheet" href="/static/responsive/lib/bootstrap/css/bootstrap.css"/>

  <link rel="stylesheet" href="/static/responsive/lib/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="/static/css/famfamfam/css/fam-icons.css"/>

  <link rel="stylesheet" href="/static/responsive/css/dashboard/dashboard.css"/>
  <link href="/static/vendor/ng-table/ng-table.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css"/>
  <!-- SCRIPTS -->
  <script src="/static/vendor/jquery.min.js"></script>
  {% include 'autocomplete_light/static.html' %}
  <!--  <script src="/static/responsive/lib/angular/angular.js"></script>-->
  <script src="{{ STATIC_URL }}django_js_utils.js"></script>
  <script src="{% url 'jsurls' %}"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script> -->
  <script src="/static/vendor/angular/angular.js"></script>
  
  <script src="/static/vendor/api-check/api-check.js"></script> <!-- must appear before formly.js -->
  <script src="/static/vendor/angular-formly/formly.js"></script>
  <script src="/static/vendor/angular-formly/angular-formly-templates-bootstrap.min.js"></script>
  
  
 
  <script src="/static/vendor/angular/angular-resource.min.js"></script>
  <script src="/static/vendor/angular/angular-messages.min.js"></script>
  <!-- <script src="/static/responsive/lib/angular-cookies/angular-cookies.js"></script> -->
  <script src="/static/responsive/lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/static/responsive/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- <script src="/static/responsive/lib/angular-ui-router/angular-ui-router.js"></script> -->
  <script src="/static/js/resources/models.js"></script>
  <script src="/static/js/services/glims_services.js"></script>
  <script src="/static/js/services/project_service.js"></script>
  <script src="/static/js/services/sample_service.js"></script>
  <script src="/static/js/services/pool_service.js"></script>
  <script src="/static/bioinformatics/js/resources/models.js"></script>
  <!-- <script src="//cdn.jsdelivr.net/angular.initial-value/latest/angular-initial-value.min.js"></script> -->
  <link href="/static/vendor/angular-growl/angular-growl.min.css" rel="stylesheet">
  <script src="/static/vendor/angular-growl/angular-growl.min.js"></script>
  <script src="/static/vendor/ng-table/ng-table.js"></script>
  
  <script src="/static/attachments/js/resources/models.js"></script>
  
  <script src="/static/js/modals/formly_modal.js"></script>
  
  <!-- experimental -->
  <!-- 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.js"></script>
   -->
  
  <!-- ui-select files -->
  <!-- <script src="https://rawgit.com/angular-ui/ui-select/master/dist/select.js"></script> -->
  <script src="{% static 'vendor/angular-ui-select/select.js' %}"></script>
  <link rel="stylesheet" href="{% static 'vendor/angular-ui-select/select.css' %}">
    <script src="{% static 'vendor/angular/angular-sanitize.js' %}"></script>
  <!-- Select2 theme -->
  <!--  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->
  <!-- Selectize theme -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css"> -->
  <!-- end experimental -->

  <script src="{% static 'js/forms/widgets.js' %}"></script>
  <script src="{% static 'js/controllers/cart.js' %}"></script>

  <script>
  angular.module('widgets.select',['ngSanitize','ui.select'])
  	.config(function(uiSelectConfig) {
		  uiSelectConfig.theme = 'bootstrap';
		});
  angular.module('glims.formly',['formly','formlyBootstrap','ngMessages','formly.widgets','formly.modal']);
  angular.module('glims.ui',['ui.bootstrap','angular-growl', 'ngTable']);//, 'ui.router', 'ngCookies'
  angular.module('glims.core',['ngResource', 'glimsModels','glimsServices','glims.samplecart']);
  angular.module('mainapp', ['glims.ui','glims.core','attachments'])
  	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
	}])
	.config(function($interpolateProvider) {
	  $interpolateProvider.startSymbol('{[');
	  $interpolateProvider.endSymbol(']}');
	})
	.config(['$resourceProvider', function($resourceProvider) {
	  // Don't strip trailing slashes from calculated URLs
	  $resourceProvider.defaults.stripTrailingSlashes = false;
	}]).run(function($rootScope) {
		$rootScope.getURL = function(name,params){
			return django_js_utils.urls.resolve(name, params);
		}
    });
	
	
	
	
  //angular.module('mainapp').requires.push('angular-growl');
  
  </script>
  
  <!-- SCRIPTS -->

</head>
<body>
  <div id="page-wrapper" class="active">

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="{% url 'home' %}">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer" ng-click="toggleSidebar()"></span>
          </a>
        </li>
        {% include 'glims/partials/sidebar.html' %}
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-8">
          <a href="http://genomecenter.ucdavis.edu">
            Genome Center
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
          {% if user.is_authenticated %}
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="/static/responsive/img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{user.first_name}} {{user.last_name}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="{% url 'logout' %}?next=/">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              {% if user.is_superuser %}
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" title="Manage" uib-dropdown-toggle>
                  <i class="fa fa-cogs"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Manage
                  </li>
                  <li class="divider"></li>
           			
           				<li><a href="{% url 'model_types' %}">Model Types</a></li>
                </ul>
              </div>
   			  {% endif %}
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
              <div class="item" ng-controller="CartMenuController" ng-init="init()">
               <a href="{% url 'cart' %}">
                  {[Utils.keys(samples).length]} <i class="fa fa-shopping-cart"></i>
                </a>
                
              </div>
            </div>
            

            
            <div class="meta">
              <div class="page">
                {% block page%}Dashboard{% endblock %}
              </div>
              <div class="breadcrumb-links">
                {% block breadcrumbs%}Home / Dashboard{% endblock %}
              </div>
            </div>
            
            <!-- 
            <div class="cart pull-right" ng-controller="CartController" ng-init="init()">
            {[Utils.keys(samples).length]}
            </div>
             -->
          </div>
          {% endif %}
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        {% block content %}
        <section data-ui-view></section>
        {% endblock %}
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
  <div growl></div>
</body>
</html>