{% extends "base.html" %}
{% block page %}Home{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-bell"></i> Issues
          </div>
          <div class="widget-body" >
          /api/notes/?tags=issue&not_tags=closed&following=true
            </div>
          </div>
        </div>
      <div class="col-lg-6 col-md-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-bell"></i> Activity
          </div>
          <div class="widget-body" >
          	Maybe a list of recently updated samples, projects, etc?
            </div>
          </div>
        </div>
</div>
{% endblock %}