{% extends "base.html" %}
{% block page %}Home{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<script src="/static/js/pages/home.js"></script>
<div class="row" ng-controller="HomeController">
      <div class="col-lg-6 col-md-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-exclamation-triangle"></i> Issues
          </div>
          <div class="widget-body" >
          <table ng-table="issueTableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      	<tr ng-repeat="row in $data track by row.id">
		      		<td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
		        	<td data-title="'Note'" filter="{content__icontains: 'text'}"><a href="{[projectLink(row.object_id)]}">{[row.content]}</a></td>
	       		</tr>
    		</table>
    		<div style="clear:both"></div>
            </div>
          </div>
        </div>
      <div class="col-lg-6 col-md-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-bell"></i> Activity
          </div>
          <div class="widget-body" >
          	Maybe a list of recently updated samples, projects, etc?
            </div>
          </div>
        </div>
</div>
{% endblock %}