{% extends "glims/dashboard.html" %}
{% block page %}Project{% endblock %}
{% block breadcrumbs %}<a href="{% url 'jobs' %}">Jobs</a> / {{job.id}} {% endblock %}
{% block content %}
<script src="/static/js/pages/job.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            Job {{job.id}}
          </div>
          <div class="widget-body">
          		{{job.get_status_message}}
              <table class="table">
              		<tr><th>Created</th><td>{{job.created}}</td></tr>
					<tr><th>Template</th><td>{{job.template}}</td></tr>
					<tr><th>Name</th><td>{{job.name}}</td></tr>
                	<tr><th>Description</th><td>{{job.description}}</td></tr>
                	<tr><th>Status</th><td>{{job.status}}</td></tr>
                	<tr><th>Data</th><td>{{job.data}}</td></tr>
                	<tr><th>Output directory</th><td><a href="{% url 'job_files' id=job.id %}">{{job.output_directory}}</a></td></tr>
              </table>
              <h4>Data</h4>
              <table class="table">
              		{% for k,v in job.data.items %}
                	<tr><th>{{k}}</th><td>{{v}}</td></tr>
                	{% endfor %}
           	  </table>
           	  {% if job.output_directory %}
           	  				  
			  {% endif %}
          </div>
        </div>
      </div>
{% endblock %}