{% extends "glims/dashboard.html" %}
{% block page %}Jobs{% endblock %}
{% block breadcrumbs %} Jobs {% endblock %}
{% block content %}
<script src="/static/js/pages/jobs.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            Jobs
          </div>
          <div class="widget-body" ng-controller="JobController">
				<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
					<td data-title="'Created'" sortable="'created'">{[row.created|date]}</td>
			        <td data-title="'ID'" sortable="'id'"" filter="{id__icontains: 'text'}"><a href="{[ link(row) ]}">{[ row.id ]}</a></td>
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}"><a href="{[ link(row) ]}">{[ row.name ]}</a></td>
			        <td data-title="'Template'" sortable="'template'" filter="{template__id__icontains: 'text'}">{[row.template]}</td>
			        <td data-title="'Status'" sortable="'status'" filter="{status__icontains: 'text'}">
			        		{[ row.status ]}
				        	<button ng-if="['STARTED','QUEUED'].indexOf(row.status) >= 0" ng-click="terminate(row)" class="btn btn-xs btn-danger">Terminate</button>
				        	<button ng-if="!row.status" ng-click="run(row)" class="btn btn-xs btn-success">Run</button>
			        </td>
			      </tr>
		    	</table>
				
            </div>
          </div>
        </div>
      </div>
{% endblock %}