{% extends "glims/dashboard.html" %}
{% block page %}Labs{% endblock %}
{% block breadcrumbs %} Labs {% endblock %}
{% block content %}
<script src="/static/js/pages/labs.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-group"></i> Labs
            <a href="{% url 'create_lab' %}" class="pull-right btn btn-success">Add</a>
          </div>
          <div class="widget-body" ng-controller="LabController">
				<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}"><a href="{[ labLink(row) ]}">{[row.name]}</a></td>
			        <td data-title="'Description'" sortable="'description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			      </tr>
		    	</table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}