{% extends "glims/dashboard.html" %}
{% block page %}Manage Permissions{% endblock %}
{% block breadcrumbs %}{{model}} / <a href="{{obj.get_absolute_url}}">{{obj}}</a> / Permissions {% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        {% include "permissions/manage_permissions.html" %}
	</div>
</div>
{% endblock %}