{% extends "glims/dashboard.html" %}
{% block page %}Model Types {% endblock %}
{% block breadcrumbs %} Model Types {% endblock %}
{% block content %}


<script src="/static/js/pages/model_types.js"></script>

<div class="row">
	<div class="col-lg-12">
      	<div class="widget">
          <div class="widget-header">
            Model Types <a class="btn btn-success pull-right" href="{% url 'create_modeltype' %}">Add</a>
          </div>
          <div class="widget-body" ng-controller="ModelTypesController">
				
				<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Type'" sortable="'content_type__model'"" filter="{content_type__model__icontains: 'text'}">{[ row.content_type__model ]}</a></td>
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}">{[row.name]}</a></td>
			        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			        <td><a href="{[ link(row.id) ]}">edit</a></td>
			      </tr>
		    	</table>
				
            </div>
        </div>
	</div>
</div>
{% endblock %}