{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page %}Pools{% endblock %}
{% block breadcrumbs %}<a href="{% url 'model_types' %}">Model Types</a> / {{model_type.name}} {% endblock %}
{% block content %}
<script src="/static/js/resources/plugins.js"></script>
<script>

angular.module('glims.core').requires.push('pluginModels');
angular.module('mainapp').controller('DesignerController', function($scope,$http,ModelTypePlugin,Status) {
    $scope.field_types = ['text','textarea','file','radio','float','integer','select','checkbox'];
    $scope.fields=[];
    $scope.initialize = function(init){
    	if (init.fields)
    		$scope.fields = init.fields;
    	if (init.id)
    		$scope.id = init.id;
    	if (init.name)
    		$scope.name = init.name;
    	if (init.content_type)
    		$scope.content_type = init.content_type;
    	if (init.description)
    		$scope.description = init.description;
    	$scope.urls = init.urls;
    	$scope.plugins = ModelTypePlugin.query({type:init.id});
    	$scope.statuses = Status.query({model_type:init.id});
    	$http.get($scope.getURL('available_model_type_plugins',{pk:init.id})).then(function(response){
    		$scope.available_plugins = response.data;
    	});
    }
    $scope.save = function(){
    	console.log('posting: ',$scope.id, $scope.fields);
    	$http.post($scope.urls.update,{name:$scope.name,description:$scope.description,content_type:$scope.content_type,fields:$scope.fields})
    	.success(function(){alert('The form has been updated.')})
    	.error(function(){alert('There was an error updating the form.')});
    };
    $scope.addField = function(){
    	$scope.fields.push({});
    };
    $scope.test = function(){
    	console.log($scope.fields);
    }
    $scope.addOption = function(field){
    	if (!field.choices)
    		field.choices = [];
    	field.choices.push({});
    }
    $scope.removeOption = function(field,index){
    	field.choices.splice(index,1);
    }
    $scope.removeField = function(index){
    	if(confirm('Are you sure you want to remove this field?'))
    		$scope.fields.splice(index,1);
    }
    
    $scope.savePlugins = function(){
    	angular.forEach($scope.plugins,function(plugin,index){
    		if(plugin.id)
    			plugin.$save();
        	else
        		plugin.$create();    		
    	});
    }
    $scope.addPlugin = function(plugin){
    	$scope.plugins.push(new ModelTypePlugin({type:$scope.id,plugin:plugin,order:1}))
    }
    $scope.deletePlugin = function(plugin,index){
    	console.log('delete',plugin.plugin.name,index);
    	plugin.$remove(function(){
    		$scope.plugins.splice($scope.plugins.indexOf(plugin),1);
    	});
    }
    $scope.showPlugin = function( plugin ) {
    	var using = $scope.plugins.map(function(plugin){return plugin.plugin.id});
    	  return function( plugin ) {
    	    return using.indexOf(plugin.id) == -1;
    	  };
    	};
	$scope.addStatus = function(){
    	$scope.statuses.push(new Status({model_type:$scope.id,order:$scope.statuses.length}))
    }
    $scope.deleteStatus = function(status,index){
    	var removeStatus = function(){
    		$scope.statuses.splice($scope.statuses.indexOf(status),1);
    	};
    	if (status.id)
	    	status.$remove(removeStatus);
    	else
    		removeStatus();
    		
    }
    $scope.saveStatuses = function(){
    	angular.forEach($scope.statuses,function(status,index){
    		if(status.id)
    			status.$save(null,null,function(response){status.errors=response.data;});
        	else
        		status.$create(null,null,function(response){status.errors=response.data;});    		
    	});
    	alert('Statuses updated');
    }
  });

</script>
<div class="row">
	<div class="col-lg-12">
	      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            Model Type: {{model_type.name}}
          </div>
		<div class="widget-body" ng-controller="DesignerController" ng-init='initialize({{init|safe}})'>
		<tabset>
				<tab heading="Details">
					<table class="table">
					<tr><th>Content Type</th><td>{[content_type]}</td></tr>
					<tr><th>Name</th><td><input ng-model="name" class="form-control"/></td></tr>
					<tr><th>Description</th><td><textarea ng-model="description" class="form-control">{[description]}</textarea></td></tr>
					</table>
					<h2>Extra fields</h2>
						<table class="table">
						<tr><th>Required</th><th>Type</th><th>Name</th><th>Label</th><th>Help Text</th><th>Options</th><th></th></tr>
						<tr ng-repeat="field in fields">
							<td><input type="checkbox" ng-model="field.required" ></td> <!-- ng-true-value="1" -->
							<td><select ng-model="field.type" ng-options="type for type in field_types" class="form-control"></select></td>
							<td><input ng-model="field.name" class="form-control"/></td>
							<td><input ng-model="field.label" class="form-control"/></td>
							<td><textarea ng-model="field.help_text" class="form-control"></textarea></td>
							<td>
								<div ng-if="['select','radio'].indexOf(field.type) != -1">
									<p><b>Choices:</b></p>
									<div ng-repeat="choice in field.choices">
										<input ng-model="choice.name" placeholder="name">
										<input ng-model="choice.value" placeholder="value">
										<button class="btn btn-sm btn-danger" ng-click="removeOption(field,$index);">Remove</button>
									</div>
									<button class="btn btn-sm btn-primary" ng-click="addOption(field);">Add option</button>
								</div>
							</td>
							<td>
								<button class="btn btn-sm btn-danger" ng-click="removeField($index);">Remove</button>
							</td>
						</tr>
						</table>
						<button class="btn btn-sm btn-success" ng-click="addField()">Add Field</button>
						<button class="btn btn-sm btn-primary" ng-click="save()" ng-if="id != null">Save</button>
					</tab>
					<tab heading="Plugins">
						<h3>Enabled</h3>
						<h4 ng-if="plugins.length < 1">There are no plugins enabled</h4>
						<table class="table" ng-if="plugins.length > 0">
						<tr><th>Order</th><th>Name</th><th>Description</th></tr>
						<tr ng-repeat="plugin in plugins|orderBy:'order' track by $index">
							<td><input ng-model="plugin.order" type="number" class="form-control inline-input"/></td>
							<td>{[plugin.plugin.name]}</td>
							<td>{[plugin.plugin.description]} <button class="btn btn-danger pull-right" ng-click="deletePlugin(plugin,$index)">Remove</button></td>
						</tr>
						</table>
						<button class="btn btn-primary" ng-click="savePlugins()">Save Plugins</button>
						
						<h3>Available</h3>
						<table class="table" ng-show="available_plugins.length > 0">
						<tr><th>Name</th><th>Description</th></tr>
						<tr ng-repeat="plugin in available_plugins | filter:showPlugin(plugin)">
							<td>{[plugin.name]}</td>
							<td>{[plugin.description]} <button class="btn btn-success pull-right" ng-click="addPlugin(plugin)">Add</button></td>
						</tr>
						</table>
						<h4 ng-if="available_plugins < 1">There are no additional plugins available</h4>
					</tab>
					<tab heading="Statuses">
						<h2>Statuses</h2>
						<h4 ng-if="statuses.length < 1">There are no statuses configured</h4>
						<table class="table" ng-if="statuses.length > 0">
						<tr><th>Order</th><th>Name</th><th>Description</th><th></th></tr>
						<tr ng-repeat="status in statuses|orderBy:'order' track by $index" ng-class="{error:status.errors}">
							<td style="width:100px">{[status.errors]}<input ng-model="status.order" type="number" class="form-control" ng-class="{error:status.errors.order}"/></td>
							<td><input ng-model="status.name" class="form-control" ng-class="{error:status.errors.name}"/></td>
							<td><textarea ng-model="status.description" class="form-control" ng-class="{error:status.errors.description}"></textarea> </td>
							<td><button class="btn btn-danger pull-right" ng-click="deleteStatus(status,$index)">Remove</button></td>
						</tr>
						</table>
						<button class="btn btn-success" ng-click="addStatus()">Add Status</button> <button class="btn btn-primary" ng-click="saveStatuses()" ng-if="statuses.length > 0">Save</button>
						</tab>
				</tabset>
		</div>
		</div>
	</div>
</div>
{% endblock %}