{% extends "glims/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page %}Pools{% endblock %}
{% block breadcrumbs %}<a href="{% url 'model_types' %}">Model Types</a> / {{model_type.name}} {% endblock %}
{% block content %}
<script>


angular.module('mainapp').controller('DesignerController', function($scope,$http) {
    $scope.field_types = ['text','textarea','file','radio','float','integer','select','checkbox'];
    $scope.fields=[];
    $scope.initialize = function(init){
    	if (init.fields)
    		$scope.fields = init.fields;
    	if (init.id)
    		$scope.id = init.id;
    	if (init.name)
    		$scope.name = init.name;
    	if (init.content_type)
    		$scope.content_type = init.content_type;
    	if (init.description)
    		$scope.description = init.description;
    	$scope.urls = init.urls;
    }
    $scope.save = function(){
    	console.log('posting: ',$scope.id, $scope.fields);
    	$http.post($scope.urls.update,{name:$scope.name,description:$scope.description,content_type:$scope.content_type,fields:$scope.fields})
    	.success(function(){alert('The form has been updated.')})
    	.error(function(){alert('There was an error updating the form.')});
    };
    $scope.addField = function(){
    	$scope.fields.push({});
    };
    $scope.test = function(){
    	console.log($scope.fields);
    }
    $scope.addOption = function(field){
    	if (!field.choices)
    		field.choices = [];
    	field.choices.push({});
    }
    $scope.removeOption = function(field,index){
    	field.choices.splice(index,1);
    }
    $scope.removeField = function(index){
    	if(confirm('Are you sure you want to remove this field?'))
    		$scope.fields.splice(index,1);
    }
  });

</script>
<div class="row">
	<div class="col-lg-12">
	      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            Model Type: {{model_type.name}}
          </div>
		<div class="widget-body" ng-controller="DesignerController" ng-init='initialize({{init|safe}})'>
		<table class="table">
		<tr><th>Content Type</th><td><input ng-model="content_type"/></td></tr>
		<tr><th>Name</th><td><input ng-model="name"/></td></tr>
		<tr><th>Description</th><td><textarea ng-model="description">{[description]}</textarea></td></tr>
		</table>
		<h3>Extra fields</h3>
			<table class="table">
			<tr><th>Required</th><th>Type</th><th>Name</th><th>Label</th><th>Help Text</th><th>Options</th><th></th></tr>
			<tr ng-repeat="field in fields">
				<td><input type="checkbox" ng-model="field.required" ></td> <!-- ng-true-value="1" -->
				<td><select ng-model="field.type" ng-options="type for type in field_types"></select></td>
				<td><input ng-model="field.name"/></td>
				<td><input ng-model="field.label"/></td>
				<td><textarea ng-model="field.help_text"></textarea></td>
				<td>
					<div ng-if="['select','radio'].indexOf(field.type) != -1">
						<p><b>Choices:</b></p>
						<div ng-repeat="choice in field.choices">
							<input ng-model="choice.name" placeholder="name">
							<input ng-model="choice.value" placeholder="value">
							<button class="btn btn-sm btn-danger" ng-click="removeOption(field,$index);">Remove</button>
						</div>
						<button class="btn btn-sm btn-primary" ng-click="addOption(field);">Add option</button>
					</div>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" ng-click="removeField($index);">Remove</button>
				</td>
			</tr>
			</table>
			<button class="btn btn-sm btn-primary" ng-click="addField()">Add Field</button>
			<button class="btn btn-sm btn-success" ng-click="save()" ng-if="id != null">Save</button>
			
		</div>
		</div>
	</div>
</div>
{% endblock %}