{% extends "glims/dashboard.html" %}
{% block page %}Pools{% endblock %}
{% block breadcrumbs %} Pools {% endblock %}
{% block content %}
<script src="/static/js/pages/pools.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="PoolController">
          <div class="widget-header">
            <i class="fa fa-suitcase"></i> Pools
            <button ng-click="createPool()" class="pull-right btn btn-sm btn-success">Create</button>
          </div>
          <div class="widget-body">
	            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Created'" sortable="'created'"">{[row.created|date]}</td>
			        <td data-title="'Name'" sortable="'name'" filter="{name__icontains: 'text'}"><a href="{[ poolLink(row) ]}">{[row.name]}</a></td>
			        <td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}">{[row.type__name]}</td>
			        <td data-title="'Description'" sortable="'description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			      </tr>
			    </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}