{% extends "base.html" %}
{% block page %}Projects{% endblock %}
{% block breadcrumbs %} Projects {% endblock %}
{% block content %}
<script src="/static/js/directives/project-directives.js"></script>
<script src="/static/js/pages/projects.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="ProjectController">
          <div class="widget-header">
            <i class="fa fa-suitcase"></i> Projects
            <span class="pull-right">
				<button ng-click="createProject()" class="btn btn-sm btn-success">Create</button>
			</span>
          </div>
          <div class="widget-body">
          <button ng-click="saveFilters()" class="btn pull-right" title="Save filters, fields, and sorting orders as your default view of projects" ng-disabled="save_disabled">{[saveProfileText||'Save settings']}</button>
          <h4>Filters</h4>
          	<label>  <input type="checkbox" ng-model="tableSettings.filter.following" ng-change="updateFilters()" ng-false-value="''"/>  Only show projects I'm managing, participating in, or subscribed to </label><br>
          	<label>  <input type="checkbox" ng-model="tableSettings.filter.archived" ng-true-value="" ng-false-value="'False'" ng-change="updateFilters()"/>  Show archived </label><br>
          <!-- 
          {% for g in user.groups.all %}<label><input type="checkbox" checklist-value="'{{g.id}}'" checklist-model="groups" checklist-change="filterGroups()"/>{{g}} </label> {% endfor %}
           -->	
            <h4>Fields</h4>
            <div style="margin-bottom: 20px">
		        <label class="checkbox-inline" ng-repeat="(col,val) in cols">
		          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="cols[col]"/> {[col]}
		        </label>
		      </div>
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'" ng-if="cols['Created']">{[row.created|date]}</td>
		        <td data-title="'Modified'" sortable="'modified'" ng-if="cols['Modified']">{[row.modified|date]}</td>
		        <td data-title="'ID'" sortable="'project_id'" filter="{project_id__icontains: 'text'}" ng-if="cols['ID']"><a ng-click="saveState()" href="{[ projectLink(row) ]}">{[row.project_id]}</a></td>
		        <td data-title="'Name'" sortable="'name'" filter="{name__icontains: 'text'}" ng-if="cols['Name']"><a ng-click="saveState()" href="{[ projectLink(row) ]}">{[row.name]}</a></td>
		        <td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}" ng-if="cols['Type']">{[row.type.name]}</td>
		        <td data-title="'Group'" sortable="'group__name'" filter="{group__name__icontains: 'text'}" ng-if="cols['Group']">{[row.group.name]}</td>
		        <td data-title="'Lab'" sortable="'lab__last_name'" filter="{lab_name: 'text'}" ng-if="cols['Lab']"><a ng-click="saveState()" href="{[ labLink(row) ]}">{[row.lab.name]}</a></td>
		        <td data-title="'Manager'" sortable="'manager__last_name'" filter="{manager: 'text'}" ng-if="cols['Manager']"><span ng-if="row.manager">{[row.manager.last_name]}, {[row.manager.first_name]}</span></td>
		        <td data-title="'Participants (search by last name)'" filter="{participants__last_name__icontains: 'text'}" ng-if="cols['Participants']"><span ng-repeat="p in row.participants">{[p.first_name]} {[p.last_name]}, </span></td>
		        <td data-title="'Description'" filter="{description__icontains: 'text'}" ng-if="cols['Description']"><show-more text="row.description" limit="50" lines="1" delimiter="'\n'"></show-more></td>
		        <td data-title="'Contact'" filter="{contact__icontains: 'text'}" ng-if="cols['Contact']"><show-more text="row.contact" limit="50" lines="1" delimiter="'\n'"></show-more></td>
		        <td data-title="'Status'" sortable="'status__name'" filter="{status: 'status'}" ng-if="cols['Status']">
		        	<resource-field-select resource="row" field="status" options="row.status_options" order-by-field="order"></resource-field-select>
		        </td>
		        <td data-title="'Archived'"  sortable="'archived'" ng-if="cols['Archived']"><archive-project project="row"></archive-project></td>
		        <td data-title="'Subscription'" ng-if="cols['Subscription']"><div  notification-subscription object-id="{[row.id]}" content-type="{{content_type_id}}"></div></td>
		      </tr>
		    </table>
		    <div class="form-inline">
		    <select ng-model="export.type" class="form-control"><option selected="selected" value="">Select project type...</option><option ng-repeat="type in types" value="{[type.id]}">{[type.name]}</option></select>
		    <select ng-model="export.format" class="form-control"><option selected="selected" value="">Select format...</option><option value="csv">CSV</option><option value="xls">XLS</option></select>
		    <span class="input-group">
	          <input size="10" type="text" class="form-control" uib-datepicker-popup ng-model="export.start_date" is-open="export.start_date_opened" close-text="Close"  placeholder="Start date"/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="export.start_date_opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </span>
	        <span class="input-group">
	          <input size="10" type="text" class="form-control" uib-datepicker-popup ng-model="export.end_date" is-open="export.end_date_opened" close-text="Close" placeholder="End date"/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="export.end_date_opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </span>
		    <a class="btn btn-primary btn" href="/api/projects/export/?type={[export.type]}&file_format={[export.format]}&created__gte={[export.start_date | date:'yyyy-MM-ddTHH:mm:ssZ']}&created__lte={[export.end_date | date:'yyyy-MM-ddTHH:mm:ssZ']}" ng-disabled="!export.type||!export.format">Export</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/ng-template" id="ng-table/filters/checkbox.html">
    <input type="checkbox" name="[{name}]" ng-model="params.filter()[name]" class="input-filter form-control" ng-value="'True'" ng-true-value="'True'" ng-false-value="'False'" />
</script>
<script type="text/ng-template" id="ng-table/filters/status.html">
    <input type="input" name="[{name}]" ng-model="params.filter()[name]" class="input-filter form-control" ng-value="params.filter()[name]" uib-popover="Search by status name.  Enter 'none', 'blank', 'empty', or 'null' to filter by empty status"  popover-trigger="focus" class="form-control"/>
</script>
{% endblock %}