{% extends "glims/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page %}Project{% endblock %}
{% block breadcrumbs %}<a href="{% url 'projects' %}">Projects</a> / <a href="{% url 'lab' pk=project.lab.id %}">{{project.lab}}</a> / {{project.name}} {% endblock %}
{% block content %}
<style>
.input-error{
background-color: pink;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/vendor/ui-grid/ui-grid.min.css">
<script src="/static/vendor/ui-grid/ui-grid.min.js"></script>
<script src="/static/js/pages/project.js"></script>

<div class="row" ng-cloak>
      <div class="col-lg-12">
        <div class="widget" ng-controller="ProjectController" ng-init="init({project:'{{project.id}}'})">
          <div class="widget-header">
            <i class="fa fa-suitcase"></i> {[project.name]}
           	<a class="btn btn-sm btn-danger pull-right" ng-click="deleteProject()">Delete</a>
            <a ng-click="editProject()" class="btn btn-sm btn-success pull-right">Edit</a>
          </div>
          <div class="widget-body">
          	<tabset>
				<tab heading="Details">
		              <table class="table">
		              	<tbody>
							<tr><th>Status</th><td>{[project.status]}</td></tr>
							<tr><th>Type</th><td>{[project.type.name]}</td></tr>
							<tr><th>ID</th><td>{[project.project_id]}</td></tr>
							<tr><th>Sample Type</th><td>{[project.sample_type.name]}</td></tr>
		                	<tr><th>Description</th><td>{[project.description]}</td></tr>
		                	<tr ng-repeat="field in project.type.fields"><th>{[field.label]}</th><td>{[project.data[field.name]]}</td></tr>
		                	<tr><th>Bioinformatics Project</th><td ng-if="bioinfo_project"><a href="{[getURL('bioinformatics__project',{pk:bioinfo_project.id})]}">{[bioinfo_project.created|date]}</a></td><td ng-if="!bioinfo_project"><button class="btn btn-xs" ng-click="createBioinfoProject()">Create</button></td></tr>
		                	<tr><th colspan="2"><a href="{% url 'project_files' pk=project.pk %}">View Data</a></th></tr>
		                </tbody>
		              </table>
              	         	             
	             <div ng-controller="SamplesController" ng-init="init();">
					<h3>Samples</h3>
					<p>
						<input type="file" file-model="myFile" style="display:inline-block" /><button ng-click="uploadFile('{% url 'import_samplesheet' project_id=project.id %}')" class="btn btn-success">Import TSV samplesheet</button>
						<br><a href="{% url 'sample_template_tsv'%}{% if project.sample_type%}?type_id={{project.sample_type_id}}{%endif%}">Download</a> template
						<a href="{% url 'download_samplesheet_tsv' project_id=project.id%}">Download</a> samplesheet
					</p>
					
					<div class="alert alert-danger" role="alert" ng-show="errors">
						<button ng-click="errors = false;" class="btn btn-sm btn-danger pull-right">Clear errors</button>
						<div ng-repeat="(id, sample_errors) in errors">
							<b>{[id]}:</b>
							<ul>
								<li ng-repeat="(id,errors) in sample_errors">{[id]}: {[errors.join(', ')]}</li>
							</ul>
						</div>
						<div ng-show="errors.length==0">There was an error processing the sample file.</div>				
					</div>
	              <div ui-grid="gridOptions" class="grid" ui-grid-pinning ui-grid-resize-columns ng-show="samples.length"></div>
	              
					<button ng-click="edit_sample()" class="btn btn-success">Add sample</button>
				</div>
			
			</tab>
              	<tab heading="Notes ({[attachments_object.notes]})">
              	{% with project as object %}
              		{% include "attachments/partials/notes.html" %}
              	{% endwith%}
              	</tab>
              	<tab heading="Files ({[attachments_object.files]})">
              	{% with project as object %}
              		{% include "attachments/partials/attached_files.html" %}
              	{% endwith%}
              	</tab>
			</tabset> 
			
			
			
			  {% include 'glims/partials/plugins.html' with object=project model='project' pk=project.id %}
          </div>
        </div>
      </div>
{% endblock %}