{% extends "glims/dashboard.html" %}
{% block page %}Projects{% endblock %}
{% block breadcrumbs %} Projects {% endblock %}
{% block content %}
<script src="/static/js/pages/projects.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="ProjectController">
          <div class="widget-header">
            <i class="fa fa-suitcase"></i> Projects
            <button ng-click="createProject()" class="btn btn-success pull-right">Create</button>
          </div>
          <div class="widget-body">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'"><a href="{[ projectLink(row) ]}">{[row.created|date]}</a></td>
		        <td data-title="'ID'" sortable="'project_id'" filter="{project_id__icontains: 'text'}"><a href="{[ projectLink(row) ]}">{[row.project_id]}</a></td>
		        <td data-title="'Name'" sortable="'name'" filter="{name__icontains: 'text'}">{[row.name]}</td>
		        <td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}">{[row.type__name]}</td>
		        <td data-title="'Lab'" sortable="'lab__name'" filter="{lab__name__icontains: 'text'}"><a href="{[ labLink(row) ]}">{[row.lab__name]}</a></td>
		        <td data-title="'Description'" sortable="'description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
		        <td data-title="'Status'" >
		        	<select ng-change="setStatus(row)" ng-options="option.name for option in row.status_options track by option.id" ng-model="row.new_status" ng-init="row.new_status.id = row.status;"></select>
		        	<button ng-show="row.new_status.id != row.status" ng-click="saveStatus(row)">Save</button>
		        </td>
		      </tr>
		    </table>
       	  </div>
            
          </div>
        </div>
      </div>
{% endblock %}