{% extends "base.html" %}
{% block page %}Projects{% endblock %}
{% block breadcrumbs %} Projects {% endblock %}
{% block content %}
<script src="/static/js/directives/project-directives.js"></script>
<script src="/static/js/pages/projects.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="ProjectController">
          <div class="widget-header">
            <i class="fa fa-suitcase"></i> Projects
            <button ng-click="createProject()" class="btn btn-sm btn-success pull-right">Create</button>
          </div>
          <div class="widget-body">
          <button ng-click="saveFilters()" class="btn pull-right" title="Save filters, fields, and sorting orders as your default view of projects" ng-disabled="save_disabled">{[saveProfileText||'Save settings']}</button>
          <h4>Filters</h4>
          	<label>  <input type="checkbox" ng-model="tableSettings.filter.following" ng-change="updateFilters()" ng-false-value="''"/>  Only show projects I'm managing, participating in, or subscribed to </label><br>
          	<label>  <input type="checkbox" ng-model="tableSettings.filter.archived" ng-true-value="''" ng-false-value="'False'" ng-change="updateFilters()"/>  Show archived </label><br>
          <!-- 
          {% for g in user.groups.all %}<label><input type="checkbox" checklist-value="'{{g.id}}'" checklist-model="groups" checklist-change="filterGroups()"/>{{g}} </label> {% endfor %}
           -->	
            <h4>Fields</h4>
            <div style="margin-bottom: 20px">
		        <label class="checkbox-inline" ng-repeat="(col,val) in cols">
		          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="cols[col]"/> {[col]}
		        </label>
		      </div>
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'" ng-if="cols['Created']">{[row.created|date]}</td>
		        <td data-title="'ID'" sortable="'project_id'" filter="{project_id__icontains: 'text'}" ng-if="cols['ID']"><a href="{[ projectLink(row) ]}">{[row.project_id]}</a></td>
		        <td data-title="'Name'" sortable="'name'" filter="{name__icontains: 'text'}" ng-if="cols['Name']"><a href="{[ projectLink(row) ]}">{[row.name]}</a></td>
		        <td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}" ng-if="cols['Type']">{[row.type.name]}</td>
		        <td data-title="'Group'" sortable="'group__name'" filter="{group__name__icontains: 'text'}" ng-if="cols['Group']">{[row.group.name]}</td>
		        <td data-title="'Lab'" sortable="'lab__last_name'" filter="{lab_name: 'text'}" ng-if="cols['Lab']"><a href="{[ labLink(row) ]}">{[row.lab.name]}</a></td>
		        <td data-title="'Manager'" sortable="'manager__last_name'" filter="{manager: 'text'}" ng-if="cols['Manager']"><span ng-if="row.manager">{[row.manager.last_name]}, {[row.manager.first_name]}</span></td>
		        <td data-title="'Participants (search by last name)'" filter="{participants__last_name__icontains: 'text'}" ng-if="cols['Participants']"><span ng-repeat="p in row.participants">{[p.first_name]} {[p.last_name]}, </span></td>
		        <td data-title="'Description'" filter="{description__icontains: 'text'}" ng-if="cols['Description']"><show-more text="row.description" limit="50" lines="1" delimiter="'\n'"></show-more></td>
		        <td data-title="'Contact'" filter="{contact__icontains: 'text'}" ng-if="cols['Contact']"><show-more text="row.contact" limit="50" lines="1" delimiter="'\n'"></show-more></td>
		        <td data-title="'Status'" sortable="'status__name'" filter="{status__name__icontains: 'text'}" ng-if="cols['Status']">
		        	<resource-field-select resource="row" field="status" options="row.status_options" order-by-field="order"></resource-field-select>
		        </td>
		        <td data-title="'Archived'"  sortable="'archived'" ng-if="cols['Archived']"><archive-project project="row"></archive-project></td>
		      </tr>
		    </table>
       	  </div>
            
          </div>
        </div>
      </div>
{% endblock %}