{% extends "glims/dashboard.html" %}
{% block page %}Samples{% endblock %}
{% block breadcrumbs %} Samples {% endblock %}
{% block content %}
<script src="/static/js/pages/samples.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-flask"></i> Samples
          </div>
            
           <div class="widget-body" ng-controller="SampleController">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'"">{[row.created|date]}</td>
		        <td data-title="'ID'" sortable="'sample_id'" filter="{sample_id__icontains: 'text'}"><a href="{[ sampleLink(row) ]}">{[row.sample_id]}</a></td>
		        <td data-title="'Name'" sortable="'name'" filter="{name__icontains: 'text'}">{[row.name]}</td>
		        <td data-title="'Type'" sortable="'type__name'" filter="{type__name__icontains: 'text'}">{[row.type__name]}</td>
		        <td data-title="'Project'" sortable="'project__name'" filter="{project__name__icontains: 'text'}"><a href="{[ getURL('project',{pk:row.project.id}) ]}">{[row.project__name]}</a></td>
		        <td data-title="'Description'" sortable="'description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
		        <td><a ng-show="!cartSamples[row.id]" ng-click="addSample(row)"><i class="fam-basket-add"></i></a> <a ng-show="cartSamples[row.id]" ng-click="removeSample(row)"><i class="fam-basket-delete"></i></a></td>
		      </tr>
		    </table>
       	  </div>
            
          </div>
        </div>
      </div>
{% endblock %}