{% extends "glims/dashboard.html" %}
{% block page %}Sample Details{% endblock %}
{% block breadcrumbs %}<a href="{% url 'samples' %}">Samples</a> / {{sample.name}} {% endblock %}
{% block content %}
<script src="/static/js/pages/sample.js"></script>
<div class="row">
      <div class="col-lg-12">
        <div class="widget" ng-controller="SampleController" ng-init="init({sample:'{{sample.id}}'})">
          <div class="widget-header">
            <i class="fa fa-flask"></i> {[sample.name]} 
            <a ng-click="editSample()" class="btn btn-sm btn-default pull-right">Edit</a>
          </div>
          <div class="widget-body">
          	<tabset>
          	  <tab heading="Details">
	              <table class="table">
	              	<tbody>
	              		<tr><th>Type</th><td>{[sample.type.name]}</td></tr>
	              		<tr><th>Created</th><td>{[sample.created]}</td></tr>
	              		<tr><th>Project</th><td><a href="{[getURL('project',{'pk':sample.project.id})]}">{[sample.project__name]}</a></td></tr>
	                	<tr><th>Description</th><td>{[sample.description]}</td></tr>
	                	<tr ng-repeat="field in sample.type.fields"><th>{[field.label]}</th><td>{[sample.data[field.name]]}</td></tr>
	                </tbody>
	              </table>
              </tab>
              <tab heading="Notes ({[attachments_object.notes]})">
              	{% with sample as object %}
              		{% include "attachments/partials/notes.html" %}
              	{% endwith%}
              	</tab>
              	<tab heading="Files ({[attachments_object.files]})">
              	{% with sample as object %}
              		{% include "attachments/partials/attached_files.html" %}
              	{% endwith%}
              	</tab>
			</tabset>   
          </div>
        </div>
      </div>
{% endblock %}