{% extends "glims/dashboard.html" %}
{% block page %}Sample Details{% endblock %}
{% block breadcrumbs %}<a href="{% url 'samples' %}">Samples</a> / {{sample.name}} {% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-rocket"></i> {{sample.name}} 
            <a href="{% url 'update_sample' pk=sample.id %}" class="btn btn-sm btn-success">Edit</a>
            <a href="{% url 'permissions' model='Sample' pk=sample.id %}" class="pull-right">Permissions</a>
            
          </div>
          <div class="widget-body">
              <table class="table">
              	<tbody>
              		<tr><th>Type</th><td>{{sample.type}}</td></tr>
              		<tr><th>Created</th><td>{{sample.created}}</td></tr>
              		{% if sample.project %}
              		<tr><th>Project</th><td><a href="{% url 'project' pk=sample.project.id %}">{{sample.project}}</a></td></tr>
              		{% endif %}
                	<tr><th>Description</th><td>{{sample.description}}</td></tr>
                	{% for field in sample.data_fields %}
                	<tr><th>{{field.label}}</th><td>{{field.value}}</td></tr>
                	{% endfor %}
                </tbody>
              </table>
			  {% include 'glims/partials/plugins.html' with object=sample model='sample' pk=sample.id %}
          </div>
        </div>
      </div>
{% endblock %}