{% extends "glims/dashboard.html" %}
{% block page %}Study{% endblock %}
{% block breadcrumbs %}<a href="{% url 'studies' %}">Studies</a> / {{study.name}} {% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-rocket"></i> {{study.name}}
          </div>
          <div class="widget-body medium no-padding">
              <table class="table">
              	<tbody>
                	<tr><th>Description</th><td>{{study.description}}</td></tr>
                </tbody>
              </table>
			  <a href="{% url 'permissions' model='Study' pk=study.id %}">Permissions</a>
          </div>
        </div>
      </div>
{% endblock %}