{% extends "base.html" %}
{% block page %}Exports{% endblock %}
{% block breadcrumbs%}Tracker / Exports{% endblock %}
{% block content %}
<script src="/static/tracker/js/pages/exports.js"></script>


<div class="row">
<div ng-view></div>
</div>
<script type="text/ng-template" id="exports.html">
	<div class="col-lg-12">
      	<div class="widget">
          <div class="widget-header">
            Exports <a ng-click="createExport()" class="btn btn-success btn-sm pull-right">New</a>
          </div>
          <div class="widget-body">
          	<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'">{[row.created|date]}</td>
		        <td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
		        <td data-title="'Created by'" sortable="'created_by__last_name'" filter="{created_by__last_name__icontains: 'text'}">{[row.created_by.first_name]} {[row.created_by.last_name]}</a></td>
		        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
		        <td data-title="'Status'" sortable="'status'" filter="{status__icontains: 'text'}">{[row.status]}</td>
		        <td data-title="'Logs'">{[row.logs.length]}</td>
				<td><button ng-click="edit(row.id)" class="btn btn-default btn-sm">Edit</button></td>
		      </tr>
		    </table>
          </div>
        </div>
	</div>
</script>
<script type="text/ng-template" id="tracker/select_modals/logs_modal.html">
<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
				<td data-title="'Status'" filter="{status: 'select'}" filter-data='getStatuses'>{[row.status]}</td>
		        <td data-title="'User'" sortable="'user__last_name'" filter="{user_name: 'text'}">{[row.user.first_name]} {[row.user.last_name]}</a></td>
				<td data-title="'Hours'" sortable="'quantity'">{[row.quantity]}</a></td>
		        <td data-title="'Category'" sortable="'category__name'" filter="{category__name__icontains: 'text'}">{[row.category.name]}</td>
				<td data-title="'Project'" sortable="'project__name'" filter="{project__name__icontains: 'text'}">{[row.project.name]}</td>
				<td data-title="'Lab'" filter="{lab_name: 'text'}" sortable="'project__lab__last_name'">{[row.project.lab]}</td>
				<td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
		    	<td modal-select-actions></td>  
			</tr>
</table>
</script>
<script type="text/ng-template" id="export.html">
	<div class="col-lg-12" ng-init='statuses={{statuses|safe}}'>
      	<div class="widget">
          <div class="widget-header">
            <button ng-click="exports()" class="btn btn-sm button-default">Back</button> Export
          </div>
          <div class="widget-body">
			<div class="pull-right"><button ng-click="saveExport()" class="btn btn-sm btn-success">Save</button> <button ng-click="deleteExport()" class="btn btn-sm btn-danger">Delete</button></div>
			<table class="table table-condensed">
				<tr><th>Status</th><td>{[instance.status]}</td></tr>
				<tr><th>Created</th><td>{[instance.created|date]}</td></tr>
				<tr><th>Modified</th><td>{[instance.modified|date]}</td></tr>
				<tr><th>Created by</th><td>{[instance.created_by.first_name]} {[instance.created_by.last_name]}</td></tr>
				<tr><th>Description</th><td><textarea style="width:100%" ng-model="instance.description" class="form-control"></textarea></td></tr>
			</table>

<!--
			<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="log in $data track by log.id">
		        <td data-title="'Modified'" sortable="'modified'">{[log.modified|date]}</td>
				<td data-title="'Status'" filter="{status: 'select'}" filter-data='getStatuses'>{[log.status]}</td>
		        <td data-title="'User'" sortable="'user__last_name'" filter="{user_name: 'text'}">{[log.user.first_name]} {[log.user.last_name]}</a></td>
				<td data-title="'Hours'" sortable="'quantity'">{[log.quantity]}</a></td>
		        <td data-title="'Category'" sortable="'category__name'" filter="{category__name__icontains: 'text'}">{[log.category.name]}</td>
				<td data-title="'Project'" sortable="'project__name'" filter="{project__name__icontains: 'text'}">{[log.project.name]}</td>
				<td data-title="'Lab'" filter="{lab_name: 'text'}" sortable="'project__lab__last_name'">{[log.project.lab]}</td>
				<td data-title="'Description'" filter="{description__icontains: 'text'}">{[log.description]}</td>
				<td><button class="btn btn-success" ng-click="addLog(log)" ng-if="!containsLog(log)">Add</button></td>
		      </tr>
		    </table>
-->
			<h2>Logs <button ng-click="selectLogs()" class="btn btn-success btn-sm pull-right">Add</button></h2>
			<table ng-if="instance.logs.length > 0" class="table table-bordered table-striped table-condensed">
			  <tr><td></td><th>Modified</th><th>Status</th><th>User</th><th>Hours</th><th>Category</th><th>Project</th><th>Lab</th><th>Description</th></tr>
		      <tr ng-repeat="log in instance.logs track by log.id">
		        <td><input type="checkbox" checklist-model="selection.logs" checklist-value="log"></td>
				<td data-title="'Modified'" sortable="'modified'">{[log.modified|date]}</td>
		        <td data-title="'Status'" sortable="'status'">{[log.status]}</td>
				<td data-title="'User'" sortable="'user__last_name'" filter="{user__last_name__icontains: 'text'}">{[log.user.first_name]} {[log.user.last_name]}</a></td>
				<td data-title="'Hours'" sortable="'quantity'">{[log.quantity]}</a></td>
		        <td data-title="'Category'" sortable="'category__name'" filter="{category__name__icontains: 'text'}">{[log.category.name]}</td>
				<td data-title="'Project'" sortable="'project__name'">{[log.project.name]}</td>
				<td data-title="'Lab'" sortable="'project__lab__name'">{[log.project.lab]}</td>
				<td data-title="'Description'" filter="{description__icontains: 'text'}">{[log.description]}</td>
		      </tr>
		    </table>
			<button class="btn btn-danger" ng-click="removeLogs()">Remove</button>
          </div>
        </div>
	</div>
</script>

{% endblock %}