{% extends "base.html" %}
{% block page %}Exports{% endblock %}
{% block breadcrumbs%}Tracker / Exports{% endblock %}
{% block content %}
<script src="/static/tracker/js/pages/exports.js"></script>


<div class="row">
<div ng-view></div>
</div>
<script type="text/ng-template" id="exports.html">
	<div class="col-lg-12">
      	<div class="widget">
          <div class="widget-header">
            Exports <a href="#/exports/new/" class="btn btn-success btn-sm pull-right">New</a>
          </div>
          <div class="widget-body">
          	<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Created'" sortable="'created'">{[row.created|date]}</td>
		        <td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
		        <td data-title="'Created by'" sortable="'created_by__last_name'" filter="{created_by__last_name__icontains: 'text'}">{[row.created_by.first_name]} {[row.created_by.last_name]}</a></td>
		        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
		        <td data-title="'Logs'">{[row.logs.length]}</td>
				<td data-title="'Start date'" sortable="'start_date'">{[row.start_date|date:'shortDate']}</td>
				<td data-title="'End date'" sortable="'end_date'">{[row.end_date|date:'shortDate']}</td>
				<td><button ng-click="edit(row.id)" class="btn btn-default btn-sm">Edit</button></td>
		      </tr>
		    </table>
          </div>
        </div>
	</div>
</script>
<script type="text/ng-template" id="tracker/select_modals/logs_modal.html">
Total: {[tableParams.total()]}, Selected: {[value.length]} <button ng-click="selectAll()" class="btn btn-xs btn-success">Select all</button> <button ng-click="removeAll()" class="btn btn-xs btn-danger">Remove all</button>
<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
		        <td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
				<td data-title="'Status'" filter="{status: 'select'}" filter-data='context.statuses'>{[row.status]}</td>
				<td data-title="'Hours'" sortable="'quantity'">{[row.quantity]}</a></td>
		        <td data-title="'Category'" sortable="'category__name'" filter="{category__name__icontains: 'text'}">{[row.category.name]}</td>
				<td data-title="'User'" sortable="'user__last_name'" filter="{user_name: 'text'}">{[row.user.first_name]} {[row.user.last_name]}</a></td>
				<td data-title="'Project'" sortable="'project__name'" filter="{project__name__icontains: 'text'}">{[row.project.name]}</td>
				<td data-title="'Lab'" filter="{lab_name: 'text'}" sortable="'project__lab__last_name'">{[row.project.lab]}</td>
				<td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
				<td><a class="btn btn-xs btn-success" ng-hide="isSelected(row)||!isAllowed(row)" ng-click="add(row)" ng-if="options.multi">Add</a><a class="btn btn-xs btn-danger" ng-show="isSelected(row)&&isAllowed(row)" ng-click="remove(row)" ng-disabled="">Remove</a><a class="btn btn-xs btn-danger" ng-show="!isAllowed(row)" disabled>Remove</a></td>  
			</tr>
</table>
<div class="row" ng-if="value.length > 0">
<div class="col-sm-3">
<label>Totals by status- </label><br><span ng-repeat="(label,val) in grouped_sums('status')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by category- </label><br><span ng-repeat="(label,val) in grouped_sums('category.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by project- </label><br><span ng-repeat="(label,val) in grouped_sums('project.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by user- </label><br><span ng-repeat="(label,val) in grouped_sums('user.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
</div>
</script>
<script type="text/ng-template" id="headerCheckbox.html">
    <input title="Select/Deselect All" type="checkbox" ng-model="select_all" ng-change="toggle_select(select_all)"/>
  </script>
<script type="text/ng-template" id="export.html">
	<div class="col-lg-12" ng-init='init({statuses:{{statuses|safe}}})'>
      	<div class="widget">
          <div class="widget-header">
            <button ng-click="exports()" class="btn btn-sm button-default">Back</button> Export
          </div>
          <div class="widget-body">
			<table class="table table-condensed borderless" ng-if="instance.id">
				<tr><th>Created</th><td>{[instance.created|date]}</td></tr>
				<tr><th>Modified</th><td>{[instance.modified|date]}</td></tr>
				<tr><th>Created by</th><td>{[instance.created_by.first_name]} {[instance.created_by.last_name]}</td></tr>
				<tr><th>Description</th><td><textarea style="width:100%" ng-model="instance.description" class="form-control"></textarea></td></tr>
			</table>
<div><button ng-click="saveExport()" class="btn btn-sm btn-success" ng-if="instance.id">Save</button> <button ng-click="deleteExport()" class="btn btn-sm btn-danger" ng-if="instance.id">Delete</button></div>
			<h2>Logs 
				<span class="pull-right">
				<div class="btn-group" uib-dropdown is-open="download_dropdown.isopen">
      				<button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
        				Download <span class="caret"></span>
      				</button>
      			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        			<li role="menuitem"><a href="/tracker/api/logs/?exports__id={[instance.id]}&page_size=10000&format=csv">Logs</a></li>
        			<li role="menuitem"><a ng-click="download_report('{% url 'project_report' %}')">Project report</a></li>
      			</ul>
    			</div>
			<a ng-click="createExport()" ng-if="!instance.id" class="btn btn-success btn-sm">Save export</a></span></h2>
			<div class="row" class="form-group form-horizontal form-inline">
				<label class="col-md-2"> Start date: </label> 
				<span class="col-md-4">	
					<p class="input-group">
          				<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="instance.start_date" is-open="start_date_popup.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          				<span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="start_date_popup.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          				</span>
        			</p>
				</span>
				<label class="col-md-2"> End date: </label>
				<div class="col-md-4">
					<p class="input-group">
          			<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="instance.end_date" is-open="end_date_popup.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          				<span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="end_date_popup.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          				</span>
        			</p>
				</div>
			</div>

			<span class="pull-left">{[selection.logs.length]} selected</span>
			
			<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
		      <tr ng-repeat="row in $data track by row.id">
				<td header="'headerCheckbox.html'"><input type="checkbox" checklist-model="selection.logs" checklist-value="row.id"></td>
		        <td data-title="'Modified'" sortable="'modified'">{[row.modified|date]}</td>
				<td data-title="'Status'" sortable="'status'" filter="{status: 'select'}" filter-data='getStatuses()'>{[row.status]}</td>
		        <td data-title="'Hours'" sortable="'quantity'">{[row.quantity]}</a></td>
				<td data-title="'Category'" sortable="'category.name'" filter="{'category.name': 'text'}">{[row.category.name]}</td>				
				<td data-title="'User'" sortable="'user.name'" filter="{'user.name': 'text'}">{[row.user.name]}</a></td>
				<td data-title="'Project'" sortable="'project.name'" filter="{'project.name': 'text'}"><a href="{[getURL('project',{pk:row.project.id})]}">{[row.project.name]}</a></td>
				<td data-title="'Lab'" filter="{'project.lab': 'text'}" sortable="'project.lab'">{[row.project.lab]}</td>
				<td data-title="'Description'" filter="{description: 'text'}">{[row.description]}</td>
				</tr>
			</table>
			<span>
				<div class="btn-group" uib-dropdown is-open="status.isopen">
      			<button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled" ng-if="instance.id">
			        Set selected statuses <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
			        <li ng-repeat="status in config.statuses"><a ng-click="setStatuses(status)">{[status]}</a></li>
			      </ul>
    			</div>
				<button class="btn btn-danger btn-sm" ng-click="removeLogs()">Remove selected</button> 
				<button ng-click="selectLogs()" class="btn btn-success btn-sm">Add</button>
			</span>
				<div class="row" ng-if="logs.length > 0">
<div class="col-sm-3">
<label>Totals by status- </label><br><span ng-repeat="(label,val) in grouped_sums('status')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by category- </label><br><span ng-repeat="(label,val) in grouped_sums('category.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by project- </label><br><span ng-repeat="(label,val) in grouped_sums('project.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
<div class="col-sm-3">
<p><label>Totals by user- </label><br><span ng-repeat="(label,val) in grouped_sums('user.name')"><label>{[label]}:</label> {[val]}<br></span>
</div>
</div>
          </div>
        </div>
	</div>
</script>
{% endblock %}