<li class="sidebar-title"><span>NAVIGATION</span></li>
<li class="sidebar-list">
  <a href="{% url 'pis' %}">PIs <span class="menu-icon fa fa-group"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'projects' %}">Projects <span class="menu-icon fa fa-suitcase"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'samples' %}">Samples <span class="menu-icon fa fa-flask"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'experiments' %}">Experiments <span class="menu-icon fa fa-rocket"></span></a>
</li>
