<li class="sidebar-title"><span>ADMIN</span></li>
<li class="sidebar-list">
  <a href="{% url 'model_types' %}">Model Types</a>
</li>
<li class="sidebar-title"><span>NAVIGATION</span></li>
<li class="sidebar-list">
  <a href="{% url 'pis' %}">PIs <span class="menu-icon fa fa-group"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'projects' %}">Projects <span class="menu-icon fa fa-suitcase"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'samples' %}">Samples <span class="menu-icon fa fa-flask"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'pools' %}">Pools</a>
</li>
<li class="sidebar-list">
  <a href="{% url 'workflows' %}">Workflows</a>
</li>
<li class="sidebar-list">
  <a href="{% url 'jobs' %}">Jobs</a>
</li>
{% for menu in menus %}
{% include menu %}
{% endfor %}

