<li class="sidebar-title"><span>LIMS Core</span></li>
<li class="sidebar-list">
  <a href="{% url 'labs' %}">Labs <span class="menu-icon fa fa-group"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'projects' %}">Projects <span class="menu-icon fa fa-suitcase"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'samples' %}">Samples <span class="menu-icon fa fa-flask"></span></a>
</li>
<li class="sidebar-list">
  <a href="{% url 'pools' %}">Pools</a>
</li>
<li class="sidebar-list">
  <a href="{% url 'jobs' %}">Jobs</a>
</li>
{% for menu in menus %}
{% include menu %}
{% endfor %}

