<script src="/static/proteomics/js/modals/fasta_modal.js"></script>
<script type="text/ng-template" id="fastaModal.html">
	<div class="modal-header">
            <h3 class="modal-title">Search Fasta Files</h3>
        </div>
        <div class="modal-body">

			 	<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-condensed">
			      <tr ng-repeat="row in $data track by row.id">
			        <td data-title="'Name'" sortable="'name'"" filter="{name__icontains: 'text'}"><a href="{[ fastaLink(row) ]}" target="_blank">{[ row.name ]}</a></td>
			        <td data-title="'Last Modified'" sortable="'modified'">{[row.modified]}</td>
			        <td data-title="'Description'" filter="{description__icontains: 'text'}">{[row.description]}</td>
			        <td data-title="'Count'" sortable="'count'">{[row.count]}</td>
			        <td><a class="btn btn-xs btn-success" ng-hide="exists(row)" ng-click="addFunc(row)">Add</a> </td>
			      </tr>
		    	</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="dismiss()">Dismiss</button>
        </div>
	
</script>